body {
  font-family: "oratorstd";
  background-color: #599291;
  margin: 0;
  height: 650px;
}

@import 'header.scss';
@import 'footer.scss';
@import 'home.scss'; /* index's css */
@import 'result.scss'; /* result's css */
