#footer {
  background-color: #3A2A38;
  display: inline-block;
  width: 100%;
  p {
    margin-top: 10px;
    color: #fff;
    text-align: center;
  }
  ul {
    text-align: center;
    padding-top: 20px;
  }

  ul li {
    background-color: #83617D;
    margin: 0 15px 0 15px;
    padding: 7px 15px;
    border-radius: 12px 12px 12px;
    display: inline-block;
  }
  .social {
    height: 85px;
  }
}