#header {
  margin: 0;
  width: 100%;
  height: 150px;
  background: #3C2C3A;
  .container-h {
    width: 960px;
    margin: 0 auto;
  }
  h1 {
    float: left;
    font-size: 3em;
    color: #FCFCFD;
  }
  nav {
    float: right;
    width: 400px;
    color: #DACBD1;
    margin-top: 25px;
  }
  li {
    display: inline-block;
    margin: 5px;
  }
  .search {
    width: 270px;
    margin-right:40px;
    padding: 0;
    float: right;
    a {
      float: left;
    }
    input {
      margin-top: 2px;
      float: right;
      width: 220px;
    }
  }
}